<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globalways.choume" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ping++ -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.shichai.www.choume.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/choume"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity
            android:name="com.shichai.www.choume.activity.WelcomeActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.MySponsorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.sponsor.SponsorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.MyWealthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.MyMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.MyCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.MyJoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.OptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.IndividualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.wealth.RechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.wealth.RechargeSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.chou.ChouDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.chou.ChouListActvity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>

        <!-- PhotoPicker -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.shichai.www.choume.activity.mine.profile.ChangeNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.profile.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.profile.ChangeSexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.profile.CertApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.profile.AddressManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.mine.profile.AddressDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>

        <!-- 支付 -->
        <!-- Ping++ SDK 注册 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付注册 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝注册 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.shichai.www.choume.activity.sponsor.AddRewardWayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.sponsor.AddRewardTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.chou.ChouManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.chou.ChouMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.chou.ChouSupportWayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.wealth.ExchangeCBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
        <activity
            android:name="com.shichai.www.choume.activity.chou.ConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.base" >
        </activity>
    </application>

</manifest>
